@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* font-family: "Lora", serif; */
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
:root {
  --color-text: #fffdd0;
  --color-burgundy-dark: #4b0202;
  --color-burgundy-light: #b44444;
  --color-burgundy-lighter: rgb(233, 90, 90);
  --color-human-side: #0d2446;
  --color-human-side-light: #1e4682;
  --color-human-side-lighter: rgb(48, 112, 209);
}
/* HEADER */
.customization-header {
  width: 100%;
  height: 3.3rem;
  background-image: url("/header-bg-3.png");
  /* background: linear-gradient(#320101, #611c1c); */
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  /* box-shadow: 0px 0px 10px 5px black; */
  position: sticky;
  background-size: cover;
}
h2 {
  margin-left: 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-text);
  overflow-y: hidden;
}
h2 a {
  color: var(--color-text);
  text-decoration: none;
  font-family: "Rubik Glitch Pop", system-ui;
}

/*-------- */

/* Main */
.customization-main {
  padding-bottom: 5rem;
  padding-top: 3rem;
  width: 100%;
  min-height: 100vh;
  background-image: url("/info-bg.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  /* resize: both; */
  /* overflow-x: hidden; */
  box-shadow: inset 0 0 120px 40px black;
}
/* ------- */

/* RACE SELECTION SECTION */

.race-selection {
  /* width: 100%; */
  height: 30vh;
  /* background-color: blue; */
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
  gap: 6rem;
  overflow-y: hidden;
  padding: 2rem 0;
}
.orc-race-container {
  width: 30%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-image: url("/homepage-bg0.png");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  gap: 2rem;
  box-shadow: 0 0 15px 5px black;
  transition: all 0.3s;
  cursor: pointer;
  justify-content: space-between;
}
.orc-race-container:hover {
  box-shadow: 0 0 15px 5px var(--color-burgundy-light);
  transform: scale(1.1);
}
/* .orc-race-container img {
  width: 12vw;
} */
.orc-race-container h1 {
  display: inline-block;
  color: var(--color-text);
  align-self: center;
  text-align: center;
  font-size: 56px;
  font-family: "Rubik Glitch Pop", system-ui;
}
.human-race-container {
  width: 30%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-image: url("/homepage-bg1.png");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0 0 15px 5px black;
  transition: all 0.3s;
  cursor: pointer;
}
/* .human-race-container img {
  width: 11vw;
} */
.human-race-container:hover {
  box-shadow: 0 0 15px 5px var(--color-human-side-lighter);
  transform: scale(1.1);
}
.human-race-container h1 {
  color: var(--color-text);
  align-self: center;
  margin-left: 1rem;
  text-align: center;
  font-size: 52px;
  font-family: "Rubik Glitch Pop", system-ui;
}

/* ---------------- */

/* BIRTH - FIRST SELECTION SECTION */

.selection-section {
  /* width: 100%; */
  min-height: auto;
  /* background-color: floralwhite; */
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 3rem;
}
.birth-selection-section {
  transition: all 2s;
}
.child-selection-section,
.young-selection-section {
  transition: all 1s;
}
.selection-container {
  width: 63%;
  height: 100%;
  padding: 4rem;
  /* background-color: aqua; */
  overflow: hidden;
  display: grid;
  background-image: url("/parchment-bg-vertical.jpg");
  background-size: cover;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  border-radius: 20px;
  box-shadow: inset black 0 0 100px 30px, 0 0 15px 2px black;
}
.selection-container .img-container {
  max-width: 100%;
  grid-area: 1/1/3/2;
  border-radius: 20px;
  display: none;
  align-items: center;
  /* box-shadow: 0 0 10px 3px black; */
  /* border: 5px solid black; */
  transition: all 0.3s;
}
.selection-container .img-container img {
  transition: all 0.3s;
}
.img__container--active {
  display: flex !important;
}
.selection-container img {
  max-width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 10px 3px black;
  /* transition: all 0.3s; */
}
.selection-button-container {
  grid-area: 1/2/2/4;
  /* background-color: #fffdd0; */
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: self-start;
  padding-top: 2rem;
  z-index: 100;
}
.selection-button-container button {
  padding: 0.5rem;
  font-size: 1.2vw;
  /* border: none; */
  color: var(--color-text);
  cursor: pointer;
  border: 3px solid black;
  background-image: url("/dirty-burgundy-bg.jpg");
  transition: all 0.2s;
  border-radius: 3px;
  box-shadow: 0 0 8px 2px black;
  text-shadow: 3px 3px 5px var(--color-burgundy-light);
}
.selection-button-container button:hover {
  transform: scale(1.1);
  border: 3px solid var(--color-burgundy-dark);
  box-shadow: 0 0 15px 2px var(--color-burgundy-light) !important;
  color: var(--color-burgundy-light);
}
.active-button {
  transform: scale(1.1);
  border: 3px solid var(--color-burgundy-dark) !important;
  box-shadow: 0 0 15px 2px var(--color-burgundy-dark) !important;
  color: var(--color-burgundy-light) !important;
}
/* .btn-young {
  font-size: 16px !important;
} */
.p-container {
  grid-area: 1/2/3/4;
  color: var(--color-burgundy-dark);
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.7;
  text-shadow: 3px 3px 5px var(--color-burgundy-light);
}
.paragraph__active {
  display: flex;
}
.next-button {
  background-image: url("/dirty-burgundy-bg.jpg");
  position: relative;
  justify-self: end;
  padding: 0.3rem 2rem;
  font-size: 1.2vw;
  color: var(--color-text);
  cursor: pointer;
  border: 2px black solid;
  border-radius: 3px;
  box-shadow: 0 0 8px 2px black;
  text-shadow: 3px 3px 5px var(--color-burgundy-light);
  grid-area: 2/3/3/4;
  align-self: flex-end;
}
.next-button:hover {
  transform: scale(1.1);
}
.stat-distribute-section {
  width: 100%;
  height: 80vh;
  /* background-color: #320101; */
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  /* transition: all 1.6s; */
}
.stat-distribute-container {
  width: 65%;
  height: 100%;
  display: flex;
  background-image: url(/parchment-bg-vertical.jpg);
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 50px 20px black;
}
.stat-img-container {
  width: 50%;
  display: none;
  align-items: center;
  overflow: hidden;
}
.stat__img__container--active {
  display: flex;
}
.stat-img-container img {
  min-width: 100%;
}
.remain-stats {
  text-align: center;
}
.remain-stats p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 700;
  text-shadow: 3px 3px 3px var(--color-burgundy-light);
  margin-bottom: 4rem;
}
.stats-container {
  display: flex;
  width: 60%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.7rem;
}
.pointer-event-none {
  pointer-events: none;
}
.pointer-event-none-button {
  pointer-events: none;
  filter: blur(2px);
}

.orc {
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 3px 3px 5px var(--color-burgundy-light);
  line-height: 1.5;
}
.human {
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 3px 3px 5px var(--color-human-side);
  line-height: 1.5;
}
.stats-container .stat-button {
  background-color: #320101;
  font-size: 24px;
  padding: 0 0.6rem;
  align-self: center;
  color: var(--color-text);
  cursor: pointer;
}
.start-game-button {
  background-image: url(/dirty-burgundy-bg.jpg);
  color: var(--color-text);
  padding: 0.6rem;
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px var(--color-burgundy-dark);
  cursor: pointer;
  transition: 0.5s;
}
.start-game-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px black;
}
.remain-stats-span {
  padding: 0.5rem;
}
.info-btn {
  background-color: #320101;
  font-size: 16px;
  border-radius: 50%;
  border: none;
  padding: 0 0.5rem;
  margin-right: 1rem;
  color: var(--color-text);
  cursor: help;
  vertical-align: 2px;
  transition: 0.2s;
}
.statusInd {
  color: var(--color-text);
  background-color: var(--color-burgundy-dark);
}
.info-btn:hover {
  background-color: #630202;
}
.info-container {
  background-color: #320101;
  color: var(--color-text);
  width: 12rem;
  padding: 0.5rem;
  border-radius: 10px;
  position: absolute;
  right: 43%;
  display: block;
  transition: 0.2s;
}
.stats-container span {
  font-weight: 999;
  text-shadow: 1px 1px 3px var(--color-burgundy-light);
  pointer-events: none;
  font-size: 24px;
  margin-right: 0.7rem;
  text-transform: uppercase;
}
.stats-container input {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 24px;
  width: 32px;
  text-align: center;
  font-weight: 999;
  text-shadow: 1px 1px 3px var(--color-burgundy-light);
  pointer-events: none;
}
.display-none {
  display: none;
}

.active-button-human {
  transform: scale(1.1);
  border: 3px solid var(--color-human-side) !important;
  box-shadow: 0 0 15px 2px var(--color-human-side) !important;
  color: var(--color-human-side-light) !important;
}
.active-container {
  box-shadow: 0 0 15px 5px var(--color-burgundy-dark);
  transform: scale(1.1);
}
.active-container-h {
  box-shadow: 0 0 15px 5px var(--color-human-side-light);
  transform: scale(1.1);
}
.selection-button-birth-human button,
.selection-button-child-human button,
.selection-button-young-human button {
  text-shadow: 3px 3px 5px var(--color-human-side-lighter);
}
.selection-button-birth-human button:hover,
.selection-button-child-human button:hover,
.selection-button-young-human button:hover {
  transform: scale(1.1);
  border: 3px solid var(--color-human-side) !important;
  box-shadow: 0 0 15px 2px var(--color-human-side-light) !important;
  color: var(--color-human-side-light) !important;
}
.paragraph-birth-human p,
.paragraph-child-human p,
.paragraph-young-human p {
  text-shadow: 3px 3px 5px var(--color-human-side);
}
.remain-stats-human p {
  text-shadow: 2px 2px 5px var(--color-human-side);
}
.stats-container-human span,
.stats-container-human p,
.stats-container-human input {
  text-shadow: 1px 1px 5px var(--color-human-side);
}
.animation-left-to-right {
  animation-duration: 1.2s;
  animation-name: lr;
}
@keyframes lr {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animation-left-to-right-short {
  animation-duration: 0.8s;
  animation-name: lrshort;
}
@keyframes lrshort {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animation-opacity {
  animation-duration: 1s;
  animation-name: opacit;
}

@keyframes opacit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-top-to-bottom {
  animation-duration: 0.7s;
  animation-name: toptobottom;
}
.inside-nav-li-active {
  text-shadow: 2px 2px 7px var(--color-burgundy-dark);
}
@keyframes toptobottom {
  from {
    opacity: 0;
    transform: translateY(-70%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation-attackx {
  animation-duration: 0.2s;
  animation-name: attackx;
}
@keyframes attackx {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.animation-attacky {
  animation-duration: 0.2s;
  animation-name: attacky;
}
@keyframes attacky {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.stamina-drop {
  position: absolute;

  left: -2rem;
}
.hidden {
  opacity: 0;
}
/* .hidden-T {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
} */

/* ------------------------- MEDIA ----------------------------- */
/* @media screen and (max-width: 1980px) {
  .stat-distribute-container {
    width: 60%;
  }
} */
@media screen and (max-width: 1650px) {
  .orc-race-container,
  .human-race-container {
    width: 40%;
  }
  .stat-distribute-container {
    width: 65%;
  }
  .selection-container {
    width: 80%;
  }
  .info-container {
    right: 40%;
  }
  .stats-container {
    width: 80%;
    gap: 1rem;
    padding: 0.2rem;
  }
  .stats-container p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1450px) {
  .orc-race-container,
  .human-race-container {
    width: 40%;
  }
  .stat-distribute-container {
    width: 75%;
  }
  .selection-container {
    width: 80%;
  }
}
@media screen and (max-width: 1250px) {
  .stat-distribute-container {
    width: 85%;
    height: 100%;
  }
  .stats-container {
    width: 80%;
    gap: 0.5rem;
    padding: 0.2rem;
  }
  .selection-container {
    width: 90%;
  }
  .selection-container p {
    font-size: 15px;
  }
  .stat-distribute-container p,
  .stat-distribute-container span {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .orc-race-container,
  .human-race-container {
    width: 50%;
  }
  .stat-distribute-container {
    width: 95%;
  }
  .race-selection {
    gap: 0;
    padding: 0;
  }
  .selection-container {
    width: 100%;
  }
}
