@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wellfleet&family=Xanh+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* font-family: "Lora", serif; */
  list-style: none;
  /* font-family: "Wellfleet", monospace; */
  box-sizing: border-box;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
:root {
  --color-text: #fffdd0;
  --color-burgundy-dark: #4b0202;
}
/* body {
  height: 100vh;
} */
.homepage-header {
  width: 100%;
  height: 3.1rem;
  background-image: url("/header-bg.png");
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 20px 20px black;
}
.logo {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
}
.logo img {
  width: 8rem;
}
.opacity06 {
  opacity: 0.6;
}

h2 {
  margin-left: 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-text);
}
h2 a {
  color: var(--color-text);
  text-decoration: none;
  font-family: "Rubik Glitch Pop", system-ui;
}
.coin {
  vertical-align: -3px;
  width: 18px;
  height: 18px;
  margin-left: 4px;
}
.coin:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* .btn {
  font-weight: 700;
} */
.btn-container {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
}
.info-button {
  width: 10rem;
  height: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background: linear-gradient(
    to right,
    #640606,
    #ee5454,
    #640606,
    #640606,
    #ee5454,
    #640606
  );
  background-size: 250%;
  background-position: left;
  color: #ee5454;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: 1s;
}

.info-button::before {
  position: absolute;
  content: "What is Korcha?";
  color: #fffdd0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
  transition: 1s;
}
input {
  background-color: #faf9df;
}
.info-button:hover {
  background-position: right;
  transition: 1s;
}

.info-button:hover::before {
  background-position: right;
  color: #ee5454;
  transition: 1s;
}

.info-button:active {
  transform: scale(0.9);
}
.support-button {
  width: 10rem;
  height: 100%;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #640606,
    #ee5454,
    #640606,
    #640606,
    #ee5454,
    #640606
  );
  background-size: 250%;
  background-position: left;
  color: #ee5454;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: 1s;
}

.support-button::before {
  position: absolute;
  content: "Contact";
  font-size: 1rem;
  color: #fffdd0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
  transition: 1s;
}

.support-button:hover {
  background-position: right;
  transition: 1s;
}

.support-button:hover::before {
  background-position: right;
  color: #ee5454;
  transition: 1s;
}

.support-button:active {
  transform: scale(0.9);
}

.signup-button {
  width: 10rem;
  height: 100%;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #640606,
    #ee5454,
    #640606,
    #640606,
    #ee5454,
    #640606
  );
  background-size: 250%;
  background-position: left;
  color: #ee5454;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: 1s;
}

.signup-button::before {
  position: absolute;
  content: "Sign up";
  font-size: 1rem;
  color: #fffdd0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
  transition: 1s;
}

.signup-button:hover {
  background-position: right;
  transition: 1s;
}

.signup-button:hover::before {
  background-position: right;
  color: #ee5454;
  transition: 1s;
}

.signup-button:active {
  transform: scale(0.9);
}

.homepage-main {
  width: 100%;
  height: calc(100vh - 3.1rem);
  background-image: url(/homepage-bg1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  transition: 0.9s ease;
}
.login-section {
  /* background-color: #640606; */
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}
.login-container {
  width: 20%;
  background-color: #fffdd0;
  height: 100%;
  box-shadow: 0 0 30px 5px black;
  background-image: url("/dirty-burgundy-bg.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  color: var(--color-text);
  /* padding-top: 4rem; */
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  gap: 1.4rem;
}
.login-form label {
  font-size: larger;
}
.login-form input {
  padding: 0.2rem 1rem;
  text-align: center;
  font-size: large;
}
.login-button {
  background-image: url(/dirty-burgundy-bg.jpg);
  background-size: cover;
  color: var(--color-text);
  cursor: pointer;
  box-shadow: 0 0 7px 1px #ee5454;
}
.info-hidden-section {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  transition: all 0.5s;
}

.homepage-info-container {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 35%;
  background-color: #fffdd0;
  height: 90%;
  background-image: url(/info-bg.png);
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 0 0 30px 5px black;
  text-align: center;
  scrollbar-width: thin;
  scrollbar-color: var(--color-burgundy-dark) #b44444;
  scrollbar-gutter: stable;
  box-sizing: border-box;
  pointer-events: all;
  scroll-behavior: smooth;
}
.close-info-btn {
  position: relative;
  color: var(--color-text);
  font-size: 2vw;
  cursor: pointer;
  top: -1.8vw;
  left: 16vw;
  padding: 0px 1rem;
  background-size: cover;
  background-image: url("/dirty-burgundy-bg.jpg");
}
.info-btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.info-btn-container button {
  background-image: url("/header-bg.png");
  color: var(--color-text);
  padding: 0.4vw 2vw;
  font-size: 1.3rem;
  cursor: pointer;
  /* margin-bottom: 2rem; */
  box-shadow: 0 0 10px 5px black;
  transition: 0.2s;
  display: inline-block;
}
.info-btn-container button:hover {
  box-shadow: 0 0 10px 5px #4b0202;
}
.info-btn-container button a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: var(--color-text);
}
.homepage-info-container section {
  margin-top: 2vw;
  text-align: center;
}
.homepage-info-container p {
  color: var(--color-text);
  letter-spacing: 1px;
  line-height: 1.5;
}
.support-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 60%;
  border-radius: 10px;
  background-image: url(/info-bg.png);
  background-size: cover;
  padding: 1rem 2rem;
  box-shadow: 0 0 20px 10px black;
  z-index: 1000;
  transition: all 0.5s;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.support-container input {
  padding: 0.2rem 1rem;
}
.close-support-btn {
  position: relative;
  left: 8.5vw;
  top: -0.6vw;
  border-radius: 10px;
  padding: 0px 1rem;
  color: var(--color-text);
  font-size: 2vw;
  cursor: pointer;
  background-image: url("/dirty-burgundy-bg.jpg");
}
.submit-btn {
  width: 50%;
  padding: 0.5rem 1rem;
  background-image: url("/dirty-burgundy-bg.jpg");
  color: var(--color-text);
  font-size: 2rem;
  transform: translate(50%);
}
.support-container h3 {
  color: var(--color-text);
  margin-bottom: 3rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.support-form {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.support-form label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.support-form input,
.support-form textarea {
  font-size: 1.1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  z-index: 100;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.level-up-timer-container {
  width: 27rem;
  height: 1rem;
  background-color: black;
  border: 4px white groove;
}
.level-up-timer {
  width: 100%;
  background-color: var(--color-text);
  height: 100%;
}
.animation-timer-level-up {
  animation-duration: 2000ms;
  animation-name: animationTimer;
  animation-timing-function: linear;
}

@keyframes animationTimer {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@media screen and (min-width: 2050px) {
  .support-container {
    width: 20%;
  }
  .close-support-btn {
    left: 11vw;
  }
  .support-container h3 {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 2050px) {
  .support-container {
    width: 25%;
  }
  .close-support-btn {
    left: 11vw;
  }
  .support-container h3 {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1700px) {
  .login-container {
    width: 30%;
  }
  .close-info-btn {
    left: 21vw;
  }
  .homepage-info-container {
    width: 45%;
  }
  .support-container {
    width: 40%;
  }
  .close-support-btn {
    left: 18vw;
  }
  .support-container h3 {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1600px) {
  .support-form {
    gap: 1.5rem;
  }
}
@media screen and (max-width: 1300px) {
  .login-container {
    width: 40%;
  }
  .close-info-btn {
    left: 28vw;
  }
  .support-container {
    width: 55%;
  }
  .homepage-info-container {
    width: 60%;
  }
  .close-support-btn {
    left: 25.5vw;
  }
  .support-container h3 {
    margin-top: 4.3rem;
  }
}
@media screen and (max-width: 950px) {
  .login-container {
    width: 55%;
  }
  .homepage-info-container {
    width: 70%;
  }
  .support-container {
    width: 65%;
  }
  .close-info-btn {
    left: 33vw;
  }
  .close-support-btn {
    left: 30vw;
  }
}
@media screen and (max-height: 1400px) {
  .support-container {
    height: 60%;
  }
}
@media screen and (max-height: 1200px) {
  .login-section {
    height: 55%;
  }
  .support-container {
    height: 65%;
  }
}
@media screen and (max-height: 1060px) {
  .support-container {
    height: 75%;
  }
}
@media screen and (max-height: 950px) {
  .login-section {
    height: 70%;
  }
  .support-container {
    height: 85%;
  }
}
