.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 20px dashed wheat;
  /* -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0); */
  animation: rotate 6s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinnerFullpage {
  /* margin: 2.5rem; */
  height: 100vh;
  background-color: rgb(45, 45, 45);
  animation: fadeIn 0.2s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
